@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

/* Profile Page */
.profile {
    position: relative;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 20px;
    width: 50vw;
    height: 80vh;
    padding: 3vw 5vw;
    flex-direction: column;
    gap: 40vw;
    z-index: -1;
    cursor: default;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}
.profile-title {
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 5vh;
}


.h2{
    position: relative;
    font-size: 2.3vh;
    z-index: -1;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
}


.button-layout {
    position: relative;
    display: flex; /* equal height of the children */
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    width: 15vw;
    transition: all 0.4s ease-in-out;
}


.backbutton {
    position: absolute;
    top: 70vh;
    width: 10vw;
    height: 6vh;
    left: 35vw;
    border: 0.3vw solid;
    background: rgb(4, 82, 52);
    border-radius: 10vw;
    font-size: 2.3vh;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    
}
.delete2button{
    line-height: 5vh;
    text-decoration: none;
    position: absolute;
    top: 70vh;
    width: 10vw;
    height: 6vh;
    left: 5vw;
    border: 0.3vw solid;
    background: rgb(4, 82, 52);
    border-radius: 10vw;
    font-size: 1.5vh;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.deletebutton{
    line-height: 5vh;
    text-decoration: none;
    position: absolute;
    top: 70vh;
    width: 10vw;
    height: 6vh;
    left: 15vw;
    border: 0.3vw solid;
    background: rgb(4, 82, 52);
    border-radius: 10vw;
    font-size: 2.3vh;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;  
}

.editbutton{
    line-height: 5vh;
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 70vh;
    width: 10vw;
    height: 6vh;
    left: 25vw;
    border: 0.3vw solid;
    background: rgb(4, 82, 52);
    border-radius: 10vw;
    font-size: 2.3vh;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    
}
.editbutton:hover {
    color: white;
    border-color: rgb(3, 146, 91);
    transition: 0.3s;
}
.deletebutton:hover {
    color: white;
    border-color: rgb(3, 146, 91);
    transition: 0.3s;
}
.backbutton:hover{
    color: white;
    border-color: rgb(3, 146, 91);
    transition: 0.3s;
}

