@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

/* Profile Page */
.profile {
    position: relative;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 20px;
    width: 50vw;
    padding: 3vw 5vw;
    flex-direction: column;
    gap: 40vw;
    z-index: -1;
    cursor: default;
    font-family: "Proxima Nova", sans-serif;
    text-align: center;
}

.profile-info {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}
.profile-title {
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 5vh;
}

.profile-name-title {
    font-size: 4vh;
}

.profile-name {
    padding: 1vh;
    font-size: 2.3vh;
}
.profile-surname {
    padding: 1vh;
    font-size: 2.3vh;
}
.profile-status {
    padding: 1vh;
    font-size: 2.3vh;
}

.button-layout {
    position: relative;
    display: flex; /* equal height of the children */
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    width: 15vw;
    transition: all 0.4s ease-in-out;
}
.buttonleft {
    position: relative;
    display: flex; /* equal height of the children */
    color: rgb(255, 255, 255);
    background: rgb(4, 82, 52);
    margin-top: 5vh;
    width: 15vw;
    transition: all 0.4s ease-in-out;
}
.buttonright {
    position: relative;
    display: flex; /* equal height of the children */
    color: rgb(255, 255, 255);
    background: rgb(4, 82, 52);
    margin-top: 5vh;
    width: 15vw;
    transition: all 0.4s ease-in-out;
}
