body {
  height: 100vh;
  overflow: hidden;
  background-image: url(https://cdn.discordapp.com/attachments/940368333897887784/1050813643454939176/RTUEKA.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1vh 0vw;
  background-color: rgba(24, 24, 24, 0.574);
  font-family: "Proxima Nova", sans-serif;
}

.center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 35vh;
  background: white;
  border-radius: 2vh;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center h1 {
  text-align: center;
  font-size: 3vh;
  padding: 1vw 0;
  border-bottom: 0.3vh solid silver;
}
.center form {
  padding: 0 2vw;
  box-sizing: border-box;
}
form .txtfield {
  position: relative;
  border-bottom: 0.3vh solid #adadad;
  margin: 2vw 0vh;
}

.option {
  width: 16vw;
  padding: 0 0.5vh;
  height: 4vh;
  font-size: 0.9vw;
  border: none;
  background: none;
  outline: none;
  border-radius: 10vw;
}
.txtfield input {
  width: 16vw;
  padding: 0 0.5vh;
  height: 4vh;
  font-size: 0.9vw;
  border: none;
  background: none;
  outline: none;
}

.txtfield label {
  position: absolute;
  top: 3vh;
  left: 0.7vw;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 0.9vw;
  pointer-events: none;
  transition: 0.5s;
}
.date {
  color: #adadad;
}
.txtfield span::before {
  content: "";
  position: absolute;
  top: 4vh;
  background: rgb(4, 82, 52);
  transition: 0.5s;
}
.txtfield input:focus ~ label,
.txtfield input:valid ~ label {
  top: -0.3vh;
  color: rgb(4, 82, 52);
}
.txtfield input:focus ~ span::before,
.txtfield input:valid ~ span::before {
  width: 100vw;
}
.pass {
  margin: -5vw 0 20vw 5vw;
  color: rgb(166, 166, 166);
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  position: relative;
  width: 18vw;
  height: 5vh;
  margin-top: 0.5vw;
  border: 0.3vh solid;
  background: rgb(4, 82, 52);
  border-radius: 10vw;
  font-size: 2.3vh;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 1vw vw;
  border-top: 10vh;
  right: 1vw;
}
input[type="submit"]:hover {
  border-color: rgb(3, 146, 91);
  transition: 0.5s;
}

.backbutton {
  position: relative;
  display: inline-block;
  width: 18vw;
  height: 5vh;
  margin-top: 0.5vw;
  border: 0.3vh solid;
  background: rgb(4, 82, 52);
  border-radius: 10vw;
  font-size: 2.3vh;
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 5vh;
  cursor: pointer;
  outline: none;
  margin: 1vw vw;
  border-top: 10vh;
  right: 1vw;
}

.backbutton:hover {
  border-color: rgb(3, 146, 91);
  transition: 0.5s;
}

.backbutton:active {
  background: rgb(3, 146, 91);
  transition: 0.3s;
}
